* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(./assets/main-bg-01.png) no-repeat;
    min-height: 100vh;
    background-size: 100%;
    background-position: top;
    margin-bottom: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    color: #f1f1f1;
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
}

.navbar a:hover {
    background-color: rgb(244, 246, 255, .5);
    color:white;
    font-size: 24px;
}

h1 {
    display:flex;
    flex-direction: column; 
    align-items: center;
    font-size: 7rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color:white;
    margin-top: 2%;
    margin-right: 30%;
    padding:13rem 8rem 0 8rem;
}

.heroh3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans" sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    color: orange;
    margin-right: 58%;
    padding-bottom: 23%;
}

.about {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: beige;
    background-size: 100%;
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.about>h2 {
    font: "Libre Baskerville", serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 9rem;
    color: black;
}

.about>p {
    font-family: "Old Standard TT" serif;
    font-style: normal;
    padding-left: 11rem;
    width: 600px;
    text-align: justify;
    font-size: 20px;
    margin-left: 3rem;
}

.about>img{    
    grid-row-start: span 2;
    width: 250px;
 
}

.showcase {
    background-color: #1A1A19;
    background-size: 100%;
    
}

.showcase>h2{
    color: white;
    display:flex;
    justify-content: center;
    font-size: 5rem;
    padding:5rem 0 2rem 0;
}

.work{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.work img{
    width: 300px;
    height: 180px;;
    padding: 0.5rem;
   
}

.work-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.work h3{
    color: white;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    text-decoration: underline;
}

.work p{
    font-family:  "Old Standard TT" serif;
    color: white;
    font-style: inherit;
    font-size: 20px;
    width: 350px;
    letter-spacing: 1.5px;
    padding-left: 1.2rem;
    padding-top: .5rem;
    padding-bottom: 5rem;
}

 .contact {
    background-color: #697565;
    background-size: 100%;
 }

 .contact h2 {
    display: flex;
    justify-content: left;
    color: white;
    font-size: 5rem;
    padding: 2rem 0 0 8rem;
 }

 .contact p {
    padding:0.5rem 0 3rem 10rem;
        color:white;
        font-size: 2rem;
        font-family: 'Old Standard TT', serif;
        font-weight: 400;
        letter-spacing: .2rem;
 }

 footer{
    padding:0.5rem 0 0.5rem 0;
    display:flex;
    justify-content: center;
    background-color: beige;
    color:black;
    font-size: 1rem;
    font: "Libre Baskerville", serif;
    font-weight: bold;
}
